name: simplecli

on: [push]

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Get the code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependancies
        run: npm install

      - name: Run test
        run: npm test

        env:
          NODE_ENV: test

